# Общие файлы и каталоги для игнорирования
*.log                   # Логи
*.tmp                   # Временные файлы
*.bak                   # Резервные файлы

# Папки с зависимостями и окружениями
src/python_tests/.venv/                  # Виртуальные окружения для Python
target/                 # Результаты тестов для Maven
*.idea/                 # Конфигурации IntelliJ IDEA
*.iml                   # Файлы проекта IntelliJ IDEA
*.jar                   # JAR файлы
*.war                   # WAR файлы

# Папки с отчетами и логами
logs/                   # Логи тестов
reports/                # Отчеты о тестах
postman_reports/        # Отчеты от Postman

# Папка с конфигурациями и ресурсами
src/main/resources/     # Ресурсы для Java
src/main/resources/local.properties
src/python_tests/.venv/ # Виртуальное окружение для Python

# Файлы конфигурации для CI/CD
.github/                # Конфигурации GitHub Actions

# Исключение временных файлов iCloud
*.icloud

# Исключение системных файлов Windows
Thumbs.db
Desktop.ini

# Исключение файлов macOS (если синхронизация на macOS)
.DS_Store

# Исключение IDE файлов (например, IntelliJ IDEA)
*.iml
.idea/
.vscode/

# Исключение логов
*.log

# Исключение временных файлов
*.tmp
*.bak

