# ===============================
# Общие файлы и временные объекты
# ===============================
*.log
*.tmp
*.bak
*.icloud
.DS_Store
Thumbs.db
Desktop.ini

# ===============================
# IntelliJ IDEA / VSCode
# ===============================
.idea/
*.iml
.vscode/

# ===============================
# Java Maven
# ===============================
target/
*.jar
*.war
*.class

# Maven build временные
target/maven-status/
target/maven-archiver/
target/surefire-reports/

# Allure reports (временные, пересоздаются при каждом запуске)
target/allure-results/
target/allure-report/

# Тестовые отчёты и артефакты
*.html
*.xml
*.lst
*.txt
*.zip
*.tgz

# ===============================
# Python окружения (если используются)
# ===============================
src/python_tests/.venv/
__pycache__/
*.pyc

# ===============================
# Конфиги и ресурсы
# ===============================
src/test/resources/local.properties
.env
.env.*
error_log.txt

#================================
# Игнорировать чувствительные данные
#================================
private/
!login/public_users.csv

# ===============================
# CI/CD, отчёты, Postman
# ===============================
logs/
reports/
reports/postman_reports/

# ===============================
# Базы данных (временные)
# ===============================
*.db
*.sqlite

# ===============================
# Git keeps для пустых папок (опционально)
# ===============================
!.gitkeep
