# ===============================
# Общие файлы и временные объекты
# ===============================
*.log
*.tmp
*.bak
*.icloud
.DS_Store
Thumbs.db
Desktop.ini

# ===============================
# IntelliJ IDEA / VSCode
# ===============================
.idea/
*.iml
.vscode/

# ===============================
# Java Maven
# ===============================
target/
*.jar
*.war
*.class

# Maven build временные
target/maven-status/
target/maven-archiver/
target/surefire-reports/

# Allure reports (временные, пересоздаются при каждом запуске)
allure-results/
allure-report/
target/allure-results/
target/allure-report/

# Тестовые отчёты и артефакты
*.html
*.xml
*.lst
*.txt

# ===============================
# Python окружения (если используются)
# ===============================
src/python_tests/.venv/

# ===============================
# Конфиги и ресурсы
# ===============================
src/main/resources/config/local.properties

# ===============================
# CI/CD, отчёты, Postman
# ===============================
.github/
logs/
reports/
postman_reports/

# ===============================
# Git keeps для пустых папок (опционально)
# ===============================
!.gitkeep
